.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin: 35px 0;
  text-align: center;
  
}
.div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side{
  width: 200px;
  padding: 15px;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;

}
