.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px 50px;
	text-align: center;
	width: 800px;
	border: 1px solid rgba(55, 55, 55, 20);
	border-radius: 5px;
	padding: 20px;
	margin: 25px;
}

.profile_picture {
	background: rgba(55, 55, 55, 20);
	border: 1px solid #ddd;
	border-radius: 65%;
	padding: 1rem;
	margin: 2rem;
	height: auto;
	max-width: 50%;

}

.content {
	display: flex;
	flex-direction: row;
}
