.container {
	background-color: red;
	width: 300px;
	height: 975px;
	margin: 10px;
	padding: 25px;
	display: flex;
	flex-direction: column;
}

.item {
	background-color: blue;
	width: 200px;
	height: 200px;
	margin: 25px;
}
