.container {
	padding: 0 1rem;
	margin: 3rem auto 6rem;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: minmax(100px, auto);
	grid-gap: 1.5rem;
	position: relative;
	top: 46px;
	justify-content: space-around;
	@media only screen and (max-width: 1355px) {
		display: flex;
		flex-direction: column;
	}

}

.leftContainer {
	grid-column: 1 / 2;
	max-width: 22.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
	padding: 1rem 0;

	
}

.leftContainerHome {
	grid-column: 1 / -1;
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.centerContainer {
	max-width: 49rem;
	grid-column: 2 / 4;
	display: flex;
	flex-direction: column;
	/* align-items: center; */

}

/* .centerContainer a li {
	margin: 0 1.5rem;
	padding: 0;
} */

/* .centerContainer ul li {
	list-style: none;
	padding: 0 0.5rem;
	margin: 0;
	border: 1px solid var(--dark-green-olive);
	background-color: var(--cornsilk-var);
	border-radius: 7px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
} */

/* .centerContainer li {
	margin: 0;
	padding: 0;
} */

/* .centerContainer a li {
	font-size: 2rem;
	text-decoration: none;
	color: var(--dark-green-olive);
} */

/* .date {
	text-decoration: underline;
} */

.centerContainerHome {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rightContainer {
	max-width: 18rem;
	grid-column: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rightContainerHome {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.backToHome {
	margin: 3rem 0 0;
}

.shape1 {
  position: fixed;
  top: 0;
}

.shape2 {
  position: fixed;
  bottom: 0;
}

.shape3 {
  position: fixed;
  top: 0;
}

.shape4 {
  position: fixed;
  bottom: 0;
}